html {
   background: linear-gradient(
   100deg, 
   #3634bc,
   rgb(142, 57, 57),
   rgb(64, 0, 255),
   rgb(149, 32, 116) );
   background-size: 400% 400%;
   height: 100vh;
   animation: gradient 0.5s ease infinite ;
  }
  
  /*,#0f0be7*/
  @keyframes animation{
    0%{
        background-position:0 50% ;
    }

    50%{
        background-position:100% 50% ;
    }

   100%{
        background-position:0 50% ;
    }


  }
  
  header{
background-color: gray;

}